.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #ad0174;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.26);
  background: #ad0174;
  color: white;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #e62ca8;
  background-color: #e62ca8;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.26);
}
